<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="base"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center p-2 border-bottom">
        <h3 class="fw-bold" th:text="'Liste des actes  : ' + ${actes.size()}"></h3>
        <a th:href="@{/actes/ajouter}" class="btn btn-bg text-black ">Ajouter un acte <span class="bi bi-calendar text-primary"></span></a>
    </div>
    <table class="table table-bordered mt-2 align-middle table-hover " th:if="${actes.size()>0}">
        <thead>
            <tr class="text-center">
                <th>Libélle</th>
                <th>Catégorie</th>
                <th>Prix de base</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="acte : ${actes}" th:id="tr+${acte.getIdActe()}">
                <td th:text="${acte.getLibelle()}"></td>
                <td th:text="${acte.getCategorie()}"></td>
                <td th:text="${acte.getPrixDeBase()}"></td>
                <td class="text-center">
                    <a th:href="@{/actes/edit(id=${acte.getIdActe()})}" class="btn btn-warning btn-sm me-2">&nbsp;Modifier</a>
                </td>
                <td class="text-center">
                    <button th:data-id="${acte.getIdActe()}" th:onclick="showDelete('btn' + this.getAttribute('data-id'),'ctn' + this.getAttribute('data-id'),'tr' + this.getAttribute('data-id'))"  th:id="btn+${acte.getIdActe()}" class="btn btn-sm btn-danger">Supprimer</button>
                    <div th:id="ctn+${acte.getIdActe()}" class="d-none">
                        <a th:href="@{/actes/supprimer(id=${acte.getIdActe()})}" class="btn btn-sm btn-outline-danger me-1">Sûr</a>
                        <button th:data-id="${acte.getIdActe()}" th:onclick="hideDelete('btn' + this.getAttribute('data-id'),'ctn' + this.getAttribute('data-id'),'tr' + this.getAttribute('data-id'))" class="btn btn-sm btn-dark">&times;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${actes.size() == 0}" class="text-center mt-4">
        <span>Veuillez cliquer sur le button</span>
        <span class="fw-bold">Ajouter un acte</span>
        <span>afin d'ajouter des actes</span>
    </div>
</div>
</body>
</html>