<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="base"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les dossiers du dentiste</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center p-2 border-bottom">
        <h3 class="fw-bold" th:text="'Liste des dessiers médicaux de : ' + ${dentiste.getNom()}"></h3>
        <a th:href="@{/dentistes/liste}" class="btn btn-bg text-black ">Liste des dentistes <span class="bi bi-calendar text-primary"></span></a>
    </div>
    <table class="table table-bordered mt-2 align-middle table-hover " th:if="${dossiers.size()>0}">
        <thead>
            <tr class="text-center">
                <th>Numéro du dossier</th>
                <th>Date de création</th>
                <th>Patient</th>
                <th>état de paiement</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dossier : ${dossiers}" th:id="tr+${dossier.getId()}">
                <td th:text="${dossier.getNumeroDossier()}"></td>
                <td th:text="${dossier.getDateCreation()}"></td>
                <td class="text-center">
                    <a th:text="${dossier.getPatient().getCin()}"
                       th:href="@{/patients/info(id=${dossier.getPatient().getId()})}"
                       class="text-decoration-none badge rounded-pill bg-primary p-2"></a>
                </td>
                <td th:text="${dossier.getStatutPaiement()}"></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${dossiers.size() == 0}" class="d-flex justify-content-center">
        <div class="text-center mt-4 p-4 w-50 border border-1">
            <span>Pas de dossier médical, vous voulez</span>&nbsp;&nbsp;<a th:href="@{/dossiers/ajouter}" class="text-decoration-none btn btn-primary text-white">crée un ?</a>
        </div>
    </div>
</div>
</body>
</html>